Step 47
To give the fieldset elements a bit of separation, select them and give them a border-bottom of 3px solid #3b3b4f.

sol:-
fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom:3px solid #3b3b4f;
}
