Step 52
Add some space between the .inline elements and the label text, by giving a right margin of 0.5em. Also, set all the other margin to 0.



Sol:-

.inline {
  width: unset;
  margin-right:0.5em;
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
}
