Step 53
If you look close enough, you will notice the .inline elements are too high on the line.

To combat this, set the vertical-align property to middle.

Sol:
.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align:middle;

}
