Step 58
With a display of block the submit button sits flush against the left edge of its parent.

Use the same technique used to center the form to center the submit button.

Sol:-
input[type="submit"] {
  display: block;
  width: 60%;
  margin: 0 auto;
}
