Step 60
To make the submit button appear more distinct, give it a background-color of #3b3b4f, and a border-color of white.

Sol:-
input[type="submit"] {
  display: block;
  width: 60%;
  margin: 0 auto;
  height: 2em;
  font-size: 1.1rem;
  background-color:#3b3b4f;
  border-color:white;
}
