Step 61
Lastly, for the submit button, you want to separate it from the fieldset above, and adjust its width to never be below 300px.

Change the margin property to include 1em on the top and bottom, while leaving the right and left margins set to auto. Then set the width as described above.

Sol:-
input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  min-width:300px;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;

}
